.board {
  min-height: 100vh;
  background: url('../background.jpg') 50% / cover no-repeat;
  &-inner {
    white-space: nowrap;
    vertical-align: top;
    padding: 1.5rem 1rem;
    height: 100%;
  }
  &-list {
    display: inline-block;
    white-space: nowrap;
  }
  .v-parallax__content {
    justify-content: start;
  }
  .column {
    &-item {
      vertical-align: top;
      margin-right: 1.5rem;
      width: 17rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      display: inline-block;
      &__content {
        padding: .2rem 1rem;
      }
      &__action {
        padding: 0 1rem .5rem;
      }
    }
  }
  .v-text-field.v-input--hide-details {
    margin-bottom: .5rem;
    .v-text-field__details {
      display: none;
    }
  }
  .btn__logout {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 5;
  }
}
