.card-item {
  padding: .2rem 0 .5rem;
  background: #fff;
  &__preview {
    position: relative;
  }
  &__heading {
    cursor: grab;
    min-height: 2.25rem;
    padding-top: .5rem;
    padding-right: 1.5rem;
  }
  &__btn {
    top: 0;
    &--edit {
      right: -.5rem;
    }
  }
}
