.login {
  background: url('../background.jpg') 50% / cover no-repeat;
  &__wrap {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 2.5rem 1rem 3rem;
  }
  &__content {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
  }
  #login-page &__nav {
    padding: 0 2rem;
    .v-btn {
      width: 11rem;
      &--active {
        background-color: #fff;
        color: #000;
        &::before {
          display: none;
        }
      }
      background-color: #29B6F6;
      color: #fff;
    }
  }
  &__card {
    padding: 1rem 1.5rem 2.5rem;
    border-top: 0!important;
  }
  &__action {
    padding-top: .5rem;
  }
  &__success {

  }
}
