<template>
  <div v-click-outside="leaveClick">
    <v-scale-transition hide-on-leave>
      <v-form @submit.prevent="onSubmit" v-if="show">
        <v-textarea
          label="Task"
          outlined
          class="card-textarea v-input--hide-details"
          auto-grow
          rows="4"
          v-model.trim="title"
        />
        <div class="d-flex justify-lg-space-between">
          <v-btn title
                 dark
                 type="submit"
                 class="mr-auto"
                 color="light-blue accent-2">
            Create Card
          </v-btn>
          <v-btn icon
                 color="red"
                 @click="show = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
      </v-form>
    </v-scale-transition>
    <v-btn v-show="!show"  @click="show = true"
           title
           block
           dark
           color="light-blue accent-2">
      <v-icon left>mdi-plus</v-icon>
      Add card
    </v-btn>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'AddCardColumn',
  props: {
    parendId: {
      type: [String, Number],
      required: true,
    },
  },
  data: () => ({
    show: false,
    title: '',
  }),
  methods: {
    ...mapMutations(['addCard']),
    onSubmit() {
      if (!this.title) return;
      this.addCard({
        parentId: this.parendId,
        title: this.title,
      });
      this.title = '';
      this.show = false;
    },
    leaveClick() {
      this.show = false;
    },
  },
};
</script>
