<template>
  <div class="card-item" v-click-outside="leaveItem">
    <div class="card-item__preview" v-show="!show">
      <div class="card-item__heading">
        {{item.title}}
      </div>
      <v-btn icon
             absolute
             class="card-item__btn card-item__btn--edit"
             text
             x-smalls
             @click="show = true"
      >
        <v-icon>
          mdi-pencil
        </v-icon>
      </v-btn>
    </div>
    <v-fade-transition hide-on-leave>
      <v-form v-if="show" @submit.prevent="onSubmit">
        <v-textarea v-model="title"
                    autofocus
                    label="Task"
                    outlined
                    class="card-textarea v-input--hide-details"
                    auto-grow
                    rows="4">
        </v-textarea>
        <div class="d-flex justify-lg-space-between">
          <v-btn title
                 dark
                 color="green accent-4"
                 type="submit"
                 class="mr-auto">
            Save
          </v-btn>
          <v-btn @click="removeCard(item)"
                 class="px-2 mx-auto"
                 outlined
                 color="red"
          >
            Remove
          </v-btn>
          <v-btn icon
                 color="red"
                 @click="show = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
      </v-form>
    </v-fade-transition>
  </div>
</template>

<script>

import { mapMutations } from 'vuex';

export default {
  name: 'CardItem',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    show: false,
    title: '',
  }),
  methods: {
    ...mapMutations(['removeCard', 'changeCard']),
    setDefaultTitle() {
      this.title = this.item.title;
    },
    leaveItem() {
      this.show = false;
    },
    onSubmit() {
      this.changeCard({
        ...this.item,
        title: this.title,
      });
      this.leaveItem();
    },
  },
  mounted() {
    this.setDefaultTitle();
  },
  watch: {
    show(val) {
      if (!val) this.setDefaultTitle();
    },
  },
};
</script>
