<template>
  <v-toolbar
    class="toolbar-column"
    dense
    flat>
    <input class="text-field"
           @change="changeColumnTitle({title: newTitle, columnId})"
           v-model="newTitle"
           type="text"
           placeholder="Board Name" />
    <v-menu min-width="200" transition="scale-transition" offset-y>
      <template v-slot:activator="{ on }">
        <v-icon class="mx-2" v-on="on">
          mdi-menu
        </v-icon>
      </template>
      <v-list>
        <v-subheader>Board Actions</v-subheader>
        <v-divider />
        <v-list-item>
          <v-btn  @click="removeColumn(columnId)"
                  color="red"
                  class="mr-2"
                  icon>
            <v-icon>mdi-minus</v-icon>
          </v-btn>
          <v-list-item-title>Remove Column</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'ToolbardColumn',
  props: {
    title: {
      type: String,
      required: true,
    },
    columnId: {
      type: [String, Number],
      required: true,
    },
  },
  data: () => ({
    newTitle: '',
  }),
  methods: mapMutations(['removeColumn', 'changeColumnTitle']),
  mounted() {
    this.newTitle = this.title;
  },
};
</script>
