<template>
  <v-content
    dark
    class="board"
  >
    <perfect-scrollbar v-if="board" watchOptions :options="{swipeEasing: false}">
      <div class="board-inner">
        <draggable v-model="board" class="board-list"
                   handle=".toolbar-column">
          <column-item v-for="column in board"
                     :column="column"
                     :key="column.id"/>
        </draggable>
        <add-column/>
      </div>
    </perfect-scrollbar>
    <spinner v-else />
    <v-btn
      color="pink"
      fab
      dark
      class="btn__logout"
      @click="onLogout"
    >
      <v-icon>mdi-logout</v-icon>
    </v-btn>
  </v-content>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex';
import draggable from 'vuedraggable';
import ColumnItem from '../components/column-Item-card/organism/ColumnItem.vue';
import AddColumn from '../components/AddColumn.vue';
import Spinner from '../components/Spinner.vue';

export default {
  name: 'Home',
  components: {
    Spinner,
    AddColumn,
    ColumnItem,
    draggable,
  },
  computed: {
    ...mapState(['boardItems']),
    board: {
      get() {
        return this.boardItems;
      },
      set(val) {
        this.updateBoard(val);
      },
    },
  },
  methods: {
    ...mapMutations(['updateBoard']),
    ...mapActions(['logout', 'getBoard', 'updateBoard']),
    async onLogout() {
      await this.logout();
      this.$router.push('/login/sign-in');
    },
  },
  mounted() {
    this.getBoard();
  },
  watch: {
    board() {
      this.updateBoard();
    },
  },
};
</script>
