<template>
  <v-content
    dark
    id="login-page"
    class="login">
    <div class="login__wrap">
      <div class="login__content">
        <div class="login__nav">
          <v-btn to="sign-up"
                 class="login__nav-item"
                 x-large
                 tile>
            Registration
          </v-btn>
          <v-btn to="sign-in"
                 class="login__nav-item"
                 :ripple="{class: `info--text`}"
                 x-large
                 tile>
            Sign in
          </v-btn>
        </div>
        <v-card outlined class="login__card">
          <v-fade-transition hide-on-leave>
            <v-alert v-if="!!error"
                     dismissible
                     border="left"
                     type="error"
            >{{error}}</v-alert>
          </v-fade-transition>
          <v-expand-transition hide-on-leave>
            <router-view/>
          </v-expand-transition>
        </v-card>
      </div>
    </div>
  </v-content>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import error from '../helpers/error';

export default {
  name: 'Login',
  computed: {
    ...mapState({
      error: ({ auth }) => auth.error,
    }),
  },
  methods: mapMutations(['setAuthError']),
  mounted() {
    const { query } = this.$route;
    if (query && query.error) {
      this.setAuthError(error[query.error]);
    }
  },
  beforeRouteUpdate(to, from, next) {
    if (this.error) {
      this.setAuthError(null);
    }
    next();
  },
};
</script>
