<template>
  <v-form
    ref="form"
    v-model="valid"
    @submit.prevent="login"
  >

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    />

    <v-text-field
      :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
      :rules="[rules.required, rules.min]"
      :type="showPwd ? 'text' : 'password'"
      name="input-10-2"
      label="Password"
      hint="At least 8 characters"
      v-model="pass"
      class="input-group--focused"
      @click:append="showPwd = !showPwd"
    />

    <v-btn
      color="warning"
      type="submit"
    >
     Send
    </v-btn>
  </v-form>
</template>

<script>
import firebase from 'firebase/app';

export default {
  name: 'SignIn',
  data: () => ({
    valid: true,
    email: '',
    showPwd: false,
    pass: '',
    rules: {
      required: (value) => !!value || 'Required.',
      min: (v) => v.length >= 8 || 'Min 8 characters',
    },
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
  }),
  methods: {
    async login() {
      if (!this.$refs.form.validate()) return;
      try {
        const login = await firebase.auth().signInWithEmailAndPassword(this.email, this.pass);
        console.log(login);
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
