<template>
  <v-card class="column-item" v-click-outside="leaveClick">
    <v-btn block
           text
           color="light-blue darken-2"
           @click="showCard = !showCard">
      <v-icon v-text="showCard ? 'mdi-minus' : 'mdi-plus'" />
      <span class="mr-auto">Add Column</span>
    </v-btn>
    <v-scale-transition hide-on-leave>
      <v-form   v-show="showCard"
                @submit.prevent="createColumn"
                class="px-4 pb-2 text-right">
        <v-text-field
          single-line
          class="v-input--hide-details"
          label="Title"
          v-model.trim="title"
        />
        <v-btn
          title
          dark
          type="submit"
          color="light-blue accent-2">
          Create Column
        </v-btn>
      </v-form>
    </v-scale-transition>
  </v-card>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'AddColumn',
  data: () => ({
    showCard: false,
    title: null,
  }),
  methods: {
    ...mapMutations(['addColumn']),
    createColumn() {
      if (!this.title) return;
      this.addColumn(this.title);
      this.title = null;
      this.showCard = false;
    },
    leaveClick() {
      this.showCard = false;
    },
  },
};
</script>
