<template>
  <div class="spinner">
    <v-progress-circular
      :size="70"
      :width="7"
      color="purple"
      indeterminate
    />
  </div>
</template>

<script>
export default {
  name: 'Spinner',
};
</script>
