<template>
  <v-card
    class="column-item"
  >
    <toolbar-column :column-id="column.id"  :title="column.title" />
    <div class="column-item__content">
      <draggable v-model="columnCard"
                 group="tasksList"
                 handle=".card-item__heading">
        <card-item v-for="item in columnCard"
                   :item="item"
                   :key="item.id" />
      </draggable>
    </div>
    <div class="column-item__action">
      <add-card-item :parend-id="column.id" />
    </div>
  </v-card>
</template>

<script>
import draggable from 'vuedraggable';
import { mapMutations, mapActions } from 'vuex';
import ToolbarColumn from '../molecules/ToolbarColumn.vue';
import AddCardItem from '../molecules/AddCardItem.vue';
import CardItem from '../molecules/CardItem.vue';

export default {
  name: 'ColumnItem',
  components: {
    CardItem, AddCardItem, ToolbarColumn, draggable,
  },
  props: {
    column: {
      type: Object,
      required: true,
    },
  },
  computed: {
    columnCard: {
      get() {
        return this.column.card;
      },
      set(val) {
        const parentId = this.column.id;
        const items = val.map((el) => {
          const newEl = el;
          if (newEl.parentId !== parentId) {
            newEl.parentId = parentId;
          }
          return newEl;
        });
        this.setColumnCard({ items, parentId });
      },
    },
  },
  methods: {
    ...mapMutations(['setColumnCard']),
    ...mapActions(['updateBoard']),
  },
  watch: {
    columnCard() {
      this.updateBoard();
    },
  },
};
</script>
