<template>
  <v-form
    class="pt-4"
    ref="form"
    v-model="valid"
    @submit.prevent="onSubmit"
  >

    <v-fade-transition>
      <v-alert v-if="isSuccess"
               @input="closeAlert"
               dismissible
               border="left"
               type="success">
        Check your email address for further password reset instructions
      </v-alert>
    </v-fade-transition>
    <div v-if="!isSuccess">
      <v-text-field
        v-model="email"
        :rules="emailRules"
        name="login"
        label="E-mail"
        outlined
        required
      />

      <div class="text-center">
        <v-btn
          color="green"
          dark
          type="submit"
          class="mr-auto"
          width="250"
          large
          :loading="load"
        >
          Send
        </v-btn>
      </div>
    </div>
  </v-form>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'ForgotPassword',
  data: () => ({
    valid: true,
    email: '',
    load: false,
    isSuccess: false,
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
  }),
  methods: {
    ...mapActions(['forgotPassword']),
    onSubmit() {
      if (!this.$refs.form.validate() || this.load) return;
      this.load = true;
      this.forgotPassword(this.email).then(() => {
        this.isSuccess = true;
      }).finally(() => {
        this.load = false;
      });
    },
    closeAlert() {
      this.$router.push('sign-in');
    },
  },
};
</script>
