<template>
  <v-form
    ref="form"
    v-model="valid"
    @submit.prevent="onSubmit"
  >
    <v-text-field
      v-model.trim="name"
      :rules="nameRules"
      name="name"
      label="Name"
      required
    />

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
      name="login"
    />

    <v-text-field
      :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
      :rules="[rules.required, rules.min]"
      :type="showPwd ? 'text' : 'password'"
      name="password"
      label="Password"
      hint="At least 6 characters"
      v-model="pass"
      class="input-group--focused"
      @click:append="showPwd = !showPwd"
    />

    <v-text-field
      :type="'password'"
      :rules="[passConfirmationRule]"
      label="Confirm Password"
      v-model="rePass"
      class="input-group--focused"
    />

    <div class="text-center pt-3">
      <v-btn
        color="green"
        dark
        large
        type="submit"
        class="mx-auto"
        width="250"
        :loading="load"
      >
        Send
      </v-btn>
    </div>
  </v-form>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'SignUp',
  data: () => ({
    valid: true,
    email: '',
    showPwd: false,
    pass: '',
    rePass: '',
    load: false,
    rules: {
      required: (value) => !!value || 'Required.',
      min: (v) => v.length >= 6 || 'Min 6 characters',
    },
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    name: '',
    nameRules: [
      (v) => !!v || 'Name is required',
    ],
  }),
  computed: {
    passConfirmationRule() {
      return () => (this.pass === this.rePass) || 'Password must match';
    },
  },
  methods: {
    ...mapActions(['register']),
    async onSubmit() {
      if (!this.$refs.form.validate() || this.load) return;
      this.load = true;
      const formData = {
        email: this.email,
        pass: this.pass,
        name: this.name,
      };

      this.register(formData).then(() => {
        this.$router.push('/');
      }).finally(() => {
        this.load = false;
      });
    },
  },
};
</script>
