<template>
  <v-form
    ref="form"
    v-model="valid"
    @submit.prevent="onSubmit"
  >

    <v-text-field
      v-model.trim="email"
      :rules="emailRules"
      name="login"
      label="E-mail"
      required
    />

    <v-text-field
      :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
      :type="showPwd ? 'text' : 'password'"
      label="Password"
      name="password"
      v-model="pass"
      class="input-group--focused"
      @click:append="showPwd = !showPwd"
    />

    <div class="d-flex pt-3">
      <v-btn
        color="green"
        dark
        large
        type="submit"
        class="mr-auto"
        width="250"
        :loading="load"
      >
        Send
      </v-btn>
      <v-btn to="forgot-password"
             text
             class="pr-0"
             color="light-blue darken-2"
      >
        Forgot Password
      </v-btn>
    </div>
  </v-form>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'SignIn',
  data: () => ({
    valid: true,
    email: '',
    showPwd: false,
    pass: '',
    load: false,
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
  }),
  methods: {
    ...mapActions(['login']),
    async onSubmit() {
      if (!this.$refs.form.validate()) return;
      this.load = true;
      const formData = {
        email: this.email,
        pass: this.pass,
      };
      this.login(formData).then(() => {
        this.$router.push('/');
      }).finally(() => {
        this.load = false;
      });
    },
  },
};
</script>
